 //ATOMS
.myn-atom__h1
   font-size: 20px


.myn-atom__h2
   font-size: 14px
ul
   padding: 0
   
   
   
.horizontal-slider
   display: flex
   width: 100%
   overflow-x: scroll
   box-sizing: border-box
   padding: 2px 10px

.horizontal-slider::-webkit-scrollbar 
   display: none 

.slider-container
   display: block
   white-space: nowrap

.item 
   display: inline-block
   padding: 5px 10px
   border: none

.item img
   width: 150px
   height: 220px
   object-fit: cover

.item__h2
   position: absolute
   bottom: 25px
   color: white 
   display: block


// FOOTER
.myn-org-footer
   padding: 0px  18px
.myn-org-footer--grey
   background-color: #f5f5f6

.myn-footer-list__h2
   font-size: 15px
   font-weight: 500
   line-height: 25.5px
.myn-footer-list__subitem
   font-size: 13px
   line-height: 22.1px

.myn-footer-list
   list-style-type: none 


// FOOTER